.minicard-wrapper {
      background: #EF476F 0% 0% no-repeat padding-box;
      box-shadow: -1px 13px 23px #00000029;
      width: 198px;
      padding: 20px;
      border-radius: 25px;
      img {
            width: 198px;
            height: 148px;
            border-radius: 25px;
      }
}