.mini-card {
      background-color: #EF476F;
      padding: 20px;
      border-radius: 25px;
      img {
            width: 198px;
            height: 148px;
            border-radius: 25px;
      }
}